In [168]:
import pandas as pd

In [235]:
import chardet

# определение кодировки файла
with open('/Users/admin/Netology-DZ/BigData/u.item.csv', 'rb') as f:
    result = chardet.detect(f.read())

In [236]:
sep = '|'
columns = ['movie id', 'movie title', 'release date', 'video release date', 
              'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
              'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
              'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
              'Thriller', 'War', 'Western']
encoding = 'utf-8'
# создаем датафрейм с фильмами
movies = pd.read_csv('/Users/admin/Netology-DZ/BigData/u.item.csv', sep=sep, names=columns, encoding=result['encoding'])

In [282]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie id            1682 non-null   int64
 1   movie title         1682 non-null   object
 2   release date        1681 non-null   object
 3   video release date  0 non-null      float64
 4   IMDb URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8   Animation           1682 non-null   int64
 9   Childrens           1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB

In [237]:
print(movies.head())

   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Childrens  ...  Fantasy  Film-Noir  Horror  Musical  \
0          0          1          1  ...        0          0       0        0
1          1          0          0  ...        0          0       0        0
2          0          0          0  ...        0          0       0        0
3          0          0          0  ...        0          0       0        0
4          0          0          0  ...        0          0       0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0       0         0    0        0
1        0        0       0         1    0        0
2        0        0       0         1    0        0
3        0        0       0         0    0        0
4        0        0       0         1    0        0

[5 rows x 24 columns]

In [238]:
with open('/Users/admin/Netology-DZ/BigData/u.data.csv', 'rb') as f:
    result = chardet.detect(f.read())
sep = '\t'
columns = ['user id', 'item id', 'rating', 'timestamp']
encoding = 'utf-8'
# создаем датафрейм с фильмами
ratings = pd.read_csv('/Users/admin/Netology-DZ/BigData/u.data.csv', sep=sep, names=columns, encoding=result['encoding'])

In [239]:
print(ratings.head())

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [240]:
grouped = ratings.groupby('user id')

In [241]:
# выводим user id пользователя с максимальным количеством оценок
grouped.count().sort_values(by='rating', ascending=False).head(1)

         item id  rating  timestamp
user id
405          737     737        737

In [242]:
# задаем переменной user id, пользователя с максимальным кол-вом оценок
max_user = grouped.count().sort_values(by='rating', ascending=False).index[0]

In [244]:
# создаем датафрейм с оценками от max_user 
ratings_user = ratings.loc[ratings['user id'] == max_user]

In [245]:
ratings_user

       user id  item id  rating  timestamp
12276      405       56       4  885544911
12383      405      592       1  885548670
12430      405     1582       1  885548670
12449      405      171       1  885549544
12460      405      580       1  885547447
...        ...      ...     ...        ...
98956      405      375       1  885546835
98978      405      445       4  885548435
99148      405     1246       1  885547735
99465      405      196       1  885546112
99756      405      958       1  885549590

[737 rows x 4 columns]

In [246]:
# переименовываем наименование столбца
ratings_user = ratings_user.rename(columns={'item id': 'movie id'})
ratings = ratings.rename(columns={'item id': 'movie id'})

In [247]:
# объеденияе два датафрейма merged и ratings
ratings_user = ratings_user.merge(movies, on='movie id', how='left')

In [248]:
# меняем значения NaN на 0 
ratings_user = ratings_user.fillna(0)

In [249]:
ratings_user

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,405,56,4,885544911,Pulp Fiction (1994),01-Jan-1994,0.0,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,0,0,0
1,405,592,1,885548670,True Crime (1995),01-Jan-1995,0.0,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,0,0,0,1,0,0,1,0,0
2,405,1582,1,885548670,T-Men (1947),01-Jan-1947,0.0,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,1,0,0,0,0,0,0,0,0
3,405,171,1,885549544,Delicatessen (1991),01-Jan-1991,0.0,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,0,0,0,1,0,0,0
4,405,580,1,885547447,"Englishman Who Went Up a Hill, But Came Down a...",01-Jan-1995,0.0,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,405,375,1,885546835,Showgirls (1995),01-Jan-1995,0.0,http://us.imdb.com/M/title-exact?Showgirls%20(...,0,0,...,0,0,0,0,0,0,0,0,0,0
733,405,445,4,885548435,"Body Snatcher, The (1945)",01-Jan-1945,0.0,http://us.imdb.com/M/title-exact?Body%20Snatch...,0,0,...,0,0,1,0,0,0,0,0,0,0
734,405,1246,1,885547735,Bushwhacked (1995),01-Jan-1995,0.0,http://us.imdb.com/Title?Bushwhacked+(1995/I),0,0,...,0,0,0,0,0,0,0,0,0,0
735,405,196,1,885546112,Dead Poets Society (1989),01-Jan-1989,0.0,http://us.imdb.com/M/title-exact?Dead%20Poets%...,0,0,...,0,0,0,0,0,0,0,0,0,0
736,405,958,1,885549590,To Live (Huozhe) (1994),01-Jan-1994,0.0,http://us.imdb.com/M/title-exact?Huozhe%20(1994),0,0,...,0,0,0,0,0,0,0,0,0,0

In [250]:
ratings_count = ratings.groupby('movie id').agg({'user id': 'count', 'rating': 'sum'})

In [251]:
ratings_count = ratings_count.rename(columns={'user id': 'count_rating', 'rating':'sum_rating'})

In [252]:
ratings_count

          count_rating  sum_rating
movie id
1                  452        1753
2                  131         420
3                   90         273
4                  209         742
5                   86         284
...                ...         ...
1678                 1           1
1679                 1           3
1680                 1           2
1681                 1           3
1682                 1           3

[1682 rows x 2 columns]

In [253]:
ratings_user = ratings_user.merge(ratings_count, on='movie id', how='left')

In [273]:
ratings_user['release date'] = pd.to_datetime(ratings_user['release date'], format='%d-%b-%Y')
ratings_user['timestamp'] = pd.to_datetime(ratings_user['timestamp']).dt.date

In [275]:
ratings_user

,user id,movie id,rating,timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,count_rating,sum_rating
0,405,56,4,1970-01-01,Pulp Fiction (1994),1994-01-01,0.0,http://us.imdb.com/M/title-exact?Pulp%20Fictio...,0,0,...,0,0,0,0,0,0,0,0,394,1600
1,405,592,1,1970-01-01,True Crime (1995),1995-01-01,0.0,http://us.imdb.com/M/title-exact?True%20Crime%...,0,0,...,0,0,1,0,0,1,0,0,9,30
2,405,1582,1,1970-01-01,T-Men (1947),1947-01-01,0.0,http://us.imdb.com/M/title-exact?T-Men%20(1947),0,0,...,0,0,0,0,0,0,0,0,1,1
3,405,171,1,1970-01-01,Delicatessen (1991),1991-01-01,0.0,http://us.imdb.com/M/title-exact?Delicatessen%...,0,0,...,0,0,0,0,1,0,0,0,65,252
4,405,580,1,1970-01-01,"Englishman Who Went Up a Hill, But Came Down a...",1995-01-01,0.0,http://us.imdb.com/M/title-exact?Englishman%20...,0,0,...,0,0,0,1,0,0,0,0,32,108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,405,375,1,1970-01-01,Showgirls (1995),1995-01-01,0.0,http://us.imdb.com/M/title-exact?Showgirls%20(...,0,0,...,0,0,0,0,0,0,0,0,23,45
733,405,445,4,1970-01-01,"Body Snatcher, The (1945)",1945-01-01,0.0,http://us.imdb.com/M/title-exact?Body%20Snatch...,0,0,...,1,0,0,0,0,0,0,0,22,77
734,405,1246,1,1970-01-01,Bushwhacked (1995),1995-01-01,0.0,http://us.imdb.com/Title?Bushwhacked+(1995/I),0,0,...,0,0,0,0,0,0,0,0,7,11
735,405,196,1,1970-01-01,Dead Poets Society (1989),1989-01-01,0.0,http://us.imdb.com/M/title-exact?Dead%20Poets%...,0,0,...,0,0,0,0,0,0,0,0,251,983
736,405,958,1,1970-01-01,To Live (Huozhe) (1994),1994-01-01,0.0,http://us.imdb.com/M/title-exact?Huozhe%20(1994),0,0,...,0,0,0,0,0,0,0,0,14,53

In [276]:
# проверяем качество данных
ratings_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user id             737 non-null    int64
 1   movie id            737 non-null    int64
 2   rating              737 non-null    int64
 3   timestamp           737 non-null    object
 4   movie title         737 non-null    object
 5   release date        737 non-null    datetime64[ns]
 6   video release date  737 non-null    float64
 7   IMDb URL            737 non-null    object
 8   unknown             737 non-null    int64
 9   Action              737 non-null    int64
 10  Adventure           737 non-null    int64
 11  Animation           737 non-null    int64
 12  Childrens           737 non-null    int64
 13  Comedy              737 non-null    int64
 14  Crime               737 non-null    int64
 15  Documentary         737 non-null    int64
 16  Drama               737 non-null    int64
 17  Fantasy             737 non-null    int64
 18  Film-Noir           737 non-null    int64
 19  Horror              737 non-null    int64
 20  Musical             737 non-null    int64
 21  Mystery             737 non-null    int64
 22  Romance             737 non-null    int64
 23  Sci-Fi              737 non-null    int64
 24  Thriller            737 non-null    int64
 25  War                 737 non-null    int64
 26  Western             737 non-null    int64
 27  count_rating        737 non-null    int64
 28  sum_rating          737 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(24), object(3)
memory usage: 172.7+ KB

In [254]:
ratings_user.columns

Index(['user id', 'movie id', 'rating', 'timestamp', 'movie title',
       'release date', 'video release date', 'IMDb URL', 'unknown', 'Action',
       'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'count_rating',
       'sum_rating'],
      dtype='object')

In [255]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Используем модель линейной регрессии

In [279]:
X = ratings_user[['Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western','count_rating', 'sum_rating']]
y = ratings_user['rating']

In [280]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
model = LinearRegression()
model.fit(X_train, y_train)
score = model.score(X_test, y_test)

In [258]:
print("Коэффициент детерминации на тестовой выборке:", score)

Коэффициент детерминации на тестовой выборке: 0.4192268080105339

In [259]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [260]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(mse)

1.0691434176676056

In [261]:
r2 = r2_score(y_test, y_pred)
print(r2)

0.4192268080105339

Используем модель на основе деревьев

In [262]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

In [263]:
X = ratings_user[['Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western','count_rating', 'sum_rating']]
y = ratings_user['rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [264]:
model = DecisionTreeRegressor(max_depth=5)

In [265]:
# обучение модели на обучающей выборке
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=5)

In [266]:
y_pred = model.predict(X_test)

In [267]:
# оценка качества модели
mse = mean_squared_error(y_test, y_pred)
print(mse)

1.942141342343029

In [268]:
score = model.score(X_test, y_test)
print("Коэффициент детерминации на тестовой выборке:", score)

Коэффициент детерминации на тестовой выборке: 0.034987093376546374

Квадратичная ошибка выросла, модель проявила себя намного хуже

In [281]:
ratings_user.to_csv('ratings_user.csv', index=False)